.s-button-element {
  background-color: var(--color-primary);
  color: white;
  font-size: var(--font-sm);
  font-weight: 600;
  padding: 0.25rem 0.75rem;
  border-radius: 0.375rem;
  max-width: 150px;
  transition: background-color 0.15s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.s-button-element:hover {
  opacity: 0.9;
  cursor: pointer;
}

.s-button-element__icon {
  width: 1rem;
  height: 1rem;
  transition: transform 0.15s;
}

.s-button-element__icon:hover {
  transform: rotate(12deg) scale(1.1);
}


.likw{
  background-color: transparent !important;
  color: #FAFAFA;
  font-size: var(--font-sm);
  font-weight: 600;
  padding: 0.25rem 0.75rem;
  border-radius: 0.375rem;
  max-width: 150px;
  border: none !important;
  padding: 0 !important;
  padding-left: 0.5rem !important;
  &:hover{
    color: #ff0000;
  }
  z-index: 1;
}